<div class="wrapper">
  <button
    *ngIf="adressesList.length == 0"
    mat-raised-button
    (click)="getAdresses()"
  >
    Get Adresses
  </button>
  <button
    *ngIf="adressesList.length > 0"
    mat-raised-button
    (click)="getAdresses()"
  >
    Refresh
  </button>

  <div class="adressesWrapper">
    <mat-card class="matCard" *ngFor="let address of adressesList">
      <mat-card-header>
        <mat-card-title
          >{{ address.city }} ({{ address.state }})</mat-card-title
        >
        <mat-card-subtitle>{{ address.country }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>Address: {{ address.street_address }}</p>
        <p>lat: {{ address.latitude | number }}</p>
        <p>lng: {{ address.longitude | number }}</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
