.wrapper{
    display: flex;
    flex-direction: column;
    button{
        height: 3.5em;
        margin-top: 1em;
    }
}

div.adressesWrapper{
    margin: 1em;
    display: flex;
    flex-wrap: wrap;
    .matCard{
        width: 100%;
        margin: 0.5em;
    }
}