<mat-toolbar class="myToolbar" color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1>{{'title' | translate}}</h1>
    <span class="spacer"></span>
    <span class="form-inline">
      <select
        class="form-control"
        #selectedLang
        (change)="switchLang(selectedLang.value)"
      >
        <option
          *ngFor="let language of translate.getLangs()"
          [value]="language"
          [selected]="language === translate.currentLang"
        >
          {{ language }}
        </option>
      </select>
    </span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="push">
    <mat-nav-list>
      <a
        mat-list-item
        [routerLink]="['/home']"
        routerLinkActive="router-link-active active"
        >{{'home' | translate}}</a
      >
      <a
        mat-list-item
        [routerLink]="['/profile']"
        routerLinkActive="router-link-active active"
        >{{'profile' | translate}}</a
      >
      <a
        mat-list-item
        [routerLink]="['/settings']"
        routerLinkActive="router-link-active active"
        >{{'settings' | translate}}</a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="sidenavcontent">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
