<section class="section">
  <h4>Select personal data:</h4>
  <div class="checkbox-container">
    <p class="checkbox-item">
      <mat-checkbox checked (change)="onCheckBoxChange($event, 'gender')">Gender</mat-checkbox>
    </p>
    <p class="checkbox-item">
      <mat-checkbox checked (change)="onCheckBoxChange($event, 'name')">Name</mat-checkbox>
    </p>
    <p class="checkbox-item">
      <mat-checkbox checked (change)="onCheckBoxChange($event, 'location')">Location</mat-checkbox>
    </p>
    <p class="checkbox-item">
      <mat-checkbox checked (change)="onCheckBoxChange($event, 'email')">Email</mat-checkbox>
    </p>
    <p class="checkbox-item">
      <mat-checkbox checked (change)="onCheckBoxChange($event, 'phone')">Phone</mat-checkbox>
    </p>
  </div>
  
  <button mat-stroked-button color="primary" (click)="onSave()">Save</button>
</section>
<div class="matcard-container">
  <mat-card class="matcard" *ngIf="personalData">
    <mat-card-header>
      <mat-card-title>Personal Data</mat-card-title>
    </mat-card-header>
    <mat-card-content >
      <p *ngIf="personalData.name">Name: {{personalData.name.first + ' ' + personalData.name.last}}</p>
      <p *ngIf="personalData.gender">Gender: {{personalData.gender}}</p>
      <p *ngIf="personalData.location">City: {{personalData.location.city}}</p>
      <p *ngIf="personalData.email">Email: {{personalData.email}}</p>
      <p *ngIf="personalData.phone">Phone: {{personalData.phone}}</p>
    </mat-card-content>
  </mat-card>
</div>
