<div class="colorwrapper">
    <form class="colorForm">
        <mat-form-field class="colorField">
          <mat-label>Color</mat-label>
          <input #input (keyup.enter)="inputColorManualy(input)" matInput placeholder="{{selectedColor}}" value="{{selectedColor}}">
        </mat-form-field>
      </form>
      <button mat-raised-button color="primary" (click)="generateRandomColor()">Generate Random Color</button>
      <button mat-raised-button color="primary" (click)="saveColor()">Save</button>
      <button mat-raised-button color="primary" (click)="cancelColor()">Cancel</button>
</div>