<div *ngIf="firsttime == 'true'" class="greeting">
    <h3>Welcome back</h3> 
</div> 
<div class="wrapper">
  <div class="listWrap">
    <mat-card class="matCard" *ngFor="let user of usersList">
      <mat-card-header>
        <mat-card-title>{{
          user.first_name + " " + user.last_name
        }}</mat-card-title>
        <mat-card-subtitle>{{ user.email }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="{{ user.avatar }}" alt="Photo of a Shiba Inu" />
      <mat-card-content>
        <p>
          {{ "Username: " + user.username }}
          <br />
          {{ "Phone number: " + user.phone_number }}
          <br />
          {{ "Date of Birth: " + user.date_of_birth }}
          <br />
          {{ "Gender: " + user.gender }}
          <br />
          {{ "Employment: " + user.employment.title }}
      </mat-card-content>
    </mat-card>
  </div>
</div>
