.matCard {
    max-width: 400px;
}

.wrapper{
    display: flex;
    justify-content: center;
}

.listWrap{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    max-width: 70%;
    margin-top: 1em;
    gap: 1em;
}

.greeting{
   text-align: center;
   color: rgb(36, 36, 150);
   margin-top: 1rem;
}