<mat-tab-group animationDuration="0ms">
  <mat-tab label="Personal Data">
    <app-personal-data></app-personal-data>
  </mat-tab>
  <mat-tab label="Profile Data" value="profile">
    <app-profile-data></app-profile-data>
  </mat-tab>
  <mat-tab label="Important Addresses"
    ><app-important-adresses></app-important-adresses
  ></mat-tab>
</mat-tab-group>
