<div class="settingsContainer">
    <div class="greetingWrap">
        <mat-form-field class="settingsFormField">
            <mat-label>Daily Greeting message</mat-label>
            <input [(ngModel)]="dailyGreeting" matInput placeholder="Hello" value="">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="saveGreeting()">Save Greeting</button>
        <button mat-raised-button color="primary" (click)="openBottomSheet()">Change Color</button>
    </div>
    <div class="article" *ngIf="article else template">
        {{article.title}}
    </div>
    <h5>ng-container example</h5>
    <ng-container *ngIf="numbers"></ng-container> <!-- cant have two bindings for ex. *ngIf and *ngFor so there is ng-container to help -->
    <div *ngFor="let number of numbers">{{number}}</div>
</div>

<ng-template #template>
    <div>Loading...</div>
</ng-template>