.settingsContainer {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
}

.greetingWrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button{
    width: 50%;
    margin: 10px auto;
}

input {
    width: 100%;
}